{% load compress %}
{% load static %}
  
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>A Quiet Place</title>
 
    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/output.css' %}">
    {% endcompress %}
 
</head>
 

<body >
  
    <nav class="bg-white">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div >
            <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" ></a>
            </div>
            <div><a href="{% url 'course' %}">courses</a></div>
            <div>Quiz</div>
            <div>Green investor</div>
            <div>About us</div>
              </div>
            </div>
          </nav> 
          
      
        {% block content %}{% endblock content %}
    

        


        <footer class=" sticky bottom-4w text-center  flex h-16 items-center justify-between mx-auto max-w-7xl px-2 sm:px-6 lg:px-8"> 
          
           
              <div >
              <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}" ></a>
              </div>
              
              <div>
                <h1>Explore</h1>
                <h2>home</h2>
                <h2>courses</h2>
                <h2>About Us</h2>
              </div>
              <div>
                <h1>Contact Us</h1>
                <h2>+84 912345678</h2>
                <h2>Facebook</h2>
                <h2>s1234567@mit.edu</h2>
              </div>
              <div>About us</div>
                
              
      </footer> 
       

</body>
 
</html>