{% extends "_base.html" %}

{% block content %}
{% load static %}

<div class='flex flex-row justify-around'>
<div class="flex bg-white w-3">
    <aside class="h-screen sticky top-0">
      
    </aside>

    <main>
     
    <ul>
        <li>level</li>
        <li>price</li>

    </ul>
    </main>
</div>
<div class='flex-col'>
<div class="flex">
    <div>01</div>
    <div>01</div>
    <div>01</div>
</div>
    <div class="flex">
    <div>01</div>
    <div>01</div>
    <div>01</div>
    </div>
    <div class="flex">
    <div>01</div>
    <div>01</div>
    <div>09</div>
  </div>
</div>

</div>

{% endblock content %}