{% extends "_base.html" %}
 
{% block content %}
{% load static %}


<div class=' flex flex-col'>
    <div class=' flex flex-row'><div class="size-fit">
        <img src="{% static 'img4.png' %}" class="size-fit"></div>
        <div class="h-5 w-5">
<img src="{% static 'img3.png' %}" class='size-fit'>
        </div>
</div>
    <div class=' flex flex-row'>
<div class="h-5 w-5">
    <img src="{% static 'img2.png' %}" class='size-fit'>
</div>
<div class="h-5 w-5">
    <img src="{% static 'img1.png' %}" class='size-fit'>
</div>
</div>
</div>




{% endblock content %}