{% extends "_base.html" %}
 
{% block content %}
{% load static %}


<div class=' flex flex-col my-12'>
    <div class=' flex flex-row justify-center '>
        <div class="h-5 w-5">
            <img src="{% static 'img4.png' %}" class="size-5"></div>
            <div class=" w-1"></div>
        <div class="h-5 w-5">
            <img src="{% static 'img3.png' %}" class='size-5'>
        </div>
    </div>
    <div class='h-2'></div>
    <div class=' flex flex-row justify-center'>
        
<div class="h-5 w-5">
    <img src="{% static 'img2.png' %}" class='size-5'>
</div>
<div class=" w-1"></div>
<div class="h-5 w-5">
    <img src="{% static 'img1.png' %}" class='size-5'>
</div>
</div>
</div>




{% endblock content %}