{% extends "_base.html" %}
 
{% block content %}
{% load static %}



<div class="flex flex-row">
<div class="flex flex-col">
    <div class="flex flex-row">
        <div class="w-7 h-7"><img src="{% static 'newyork.png' %}">
         </div>
         <div class="flex flex-col">
            <h1> name</h1>
            
         </div>
    </div>
    <div class="flex flex-row">
        <div class="w-7 h-7"><img src="{% static 'newyork.png' %}"> </div>
        <div class="flex flex-col">
            <h1> name</h1>
            
         </div>
    </div>
    <div class="flex flex-row">
        <div class="w-7 h-7"><img src="{% static 'newyork.png' %}"> </div>
        <div class="flex flex-col">
            <h1> name</h1>
            
         </div>
    </div>
</div>
ads
</div>


{% endblock content %}